*{
    background: lightgray;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 95%;
    height: 95vh;
    margin: 1px auto;

}

.intro{
    width: 40%;
    margin-right: 10%;
    padding: 1rem;
}

.intro h1{
    margin-top: 1rem;
    margin-bottom: 1rem ;
    font-size: 3rem;
    color: rgb(10, 75, 110);
}

.intro h6{
    font-size: 2rem;
    font-weight: 300;
    color: rgba(26, 25, 25, 0.883);
    
}

.login{
    width: 40%;
    height: 60%;
}

.login-a{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin: 1px auto;
    padding-top: 2rem;
}

.login-a input{
    width:70%;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding:0.8rem;
    background-color: whitesmoke;
    font-size: 1rem;
    font-weight: 300;
}

button{
    width: fit-content;
    padding: 4px 8px;
    margin-bottom: 1.5rem;
    background: rgb(54, 100, 150);
    border-radius: 6px;
    border: none;
    color: whitesmoke;
    font-weight: 600;
    margin-top: .9rem;
}


span{
    color: black;
    font-weight: 900;
    font-size: 15px;
}

p{
    text-align: center;
    margin-top: 2rem;
    font-size: 15px;
    font-weight: 500;
}

.login-a a{
    text-decoration: none;
    color: aqua;
    background:transparent;
    color: rgb(54, 100, 150);
    font-weight: 900;
    margin-bottom: 1.5rem;
    
}

.login-a p{
    margin: 0;
    width: 70%;
    height: 1px;
    color: lightcoral;
    line-height: 2px;
}
.submit-btn{
    width:75%;
    padding: 12px;
    color: whitesmoke;
    font-weight: 600;
}

.new-btn{
    background: rgb(36, 175, 36);
    margin-bottom: 1.5rem;
    padding: 12px 9px;
}

@media only screen and (max-width:600px){
    *{
        font-size: 10px;
    }
    section{
        width: 95vw;
        height: 50vh;
    }

    .login{
        width: 70%;
        border: 1px solid black;
    }

    .intro{
        width: 30%;
        border: 1px solid black;
    }
    .intro h6{
        font-size: 8px;

    }
    .login p{
        font-size: 12px;
    }

    span{
        font-size: 12px;
    }
}